# GBA 6070 - Programming Foundation for Business Analytics
# Dr. Mohammad Salehan
# Assignment 9 - Dataframe I
Enter your name below.

Ariana Arellano

In this assignment you will work with a weather dataset. Let's start with loading the dataset.

In [ ]:
import pandas as pd
df = pd.read_csv('weather.csv')

1. Examine the shape of the dataframe.

In [ ]:
df.head()

2. Check the top 5 rows to see what it looks like.

In [ ]:
df.iloc[0]

3. Drop the first column (Unnamed) then display the top row.

4. Display Year, Month, Day, Hour, Dew Point, and Wind Speed for the records at row indexes 1000 to 1005 .

5. Display all the records where Pressure is larger than 10,000 and Wind Speeds is smaller than 1.

6. Display the number of missing values in each column.

7. Display the records where Temprature is null.

8. Modify ``df`` to replace all the missing values in Temperature column with column mean. Then examine the number of missing values in each column to make sure that the missing values in other columns are not replaced by mean Temperature.

9. Modify ``df`` to replace all missing values in Dew Point and Pressure columns with column median. Then examine the number of missing values in each column to make sure the missing values in other columns are not replaced. At this point, there should be missing values left only in the last 2 columns.

10. Modify ``df`` to replace the remaining missing values with -9999. The examine the number of missing values in each column to make sure there are no more missing values left.

11. Check out the top 10 rows of ``df`` to make sure it looks good.

## Extra credit question
The Station columns contains year\station#. Update the column by dropping year. Check out Vectorized String Operations in the book for more information.